<div class="container">
    <div id="add" class="box c33">
            <h4>Add Group</h4>

            <form action="/addgroup" id="form-addgroup" method="post">
                <fieldset>
                    <legend></legend>

                    <div class="fl">
                        <label for="name">Group / Device Name</label>
                        <input type="text" name="name" class="fl">
                        <input id="submit" class="submit fl " name="submit" type="submit" value="Submit" />
                    </div>

                </fieldset>
            </form>
    </div>
</div>