<!-- header -->
<div id="header" class="c100">
  <div class="container">
    <div class="row">
      <div class="three columns">
        <div class="logo"><a href="/">AppWatcher</a></div>
      </div>
      <div class="nine columns">
      <%- include('nav') -%>
      </div>
    </div>
  </div>
</div>