<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel='stylesheet' href='/css/style.css' />
    <!-- <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="/js/main.js"></script>
    <!-- <script src="/js/moment.js"></script> -->
  </head>
  <body>