<nav>
  <ul>
    <li><a href="#"></a></li>
    <li><a href="/addgroup">Add Group</a></li>
    <li><a href="/add">Add Service</a></li>
    <li><a href="/settings">Settings</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>