body {
  padding: 0px;
  margin:0px;
}

a {
  color: #00B7FF;
}
h5 {
	font-size:15px;
}

#header {
	border-bottom:1px solid #eee;
	height:30px;
	line-height: 30px;
	margin-bottom:30px;
}
nav {
	line-height: 30px;
}
nav ul {
	height: 30px;
	padding: 0;
	margin: 0;
	float: right;
}
nav ul li {
	list-style: none;
	display: inline-block;
	margin-right:10px;
}
#header a,
nav a {
	text-decoration: none;
}
input,
select {
	margin-right: 10px;
}
select.form-add-groupname {
	width:250px;
}
#form-add .submit {
	margin-top:30px;
}
.form-add-ip,
.form-add-url {
	width:400px;
}
.form-add-getter {
	width:100px;
}
.form-add-operator {
	width:70px;
}
.options-icmp {
}
.options-http {
	display:none;
}

.clear { clear:both; }
.c100 {	width:100%; }
.c90 { width:90%; }
.c80 { width:80%; }
.c75 { width:75%; }
.c70 { width:70%; }
.c66 { width:66%; }
.c60 { width:60%; }
.c50 { width:50%; }
.c40 { width:40%; }
.c33 { width:33%; }
.c30 { width:30%; }
.c24 { width:24%; }
.c20 { width:20%; }
.c10 { width:10%; }
.c8 { width:8%; }
.c5 { width:5%; }
.c2 { width:2%; }
.c1 { width:1%; }

.nm { margin: 0;}
.np { padding: 0;}
.ma { margin: 0 auto; }
.fl { float:left; }
.fr { float:right; }
.bl {
	display: block;
	width:100%;
}
.hidden {
	display: none;
}
.clear { clear:both; }
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.columns {height:auto;}

.logo {
	margin-left:10px;
}

.title {
	font-weight:bold;
	text-transform: capitalize;
	margin-left:10px;
}
.title-functions {
	display: none;
	margin-left:5px;
}
.title-functions a {
	text-decoration: none;
	margin-right:5px;
}
.title:hover > .title-functions {
	display: inline;
}
.box-service {
	margin-bottom:5px;
	line-height: 24px;
}
.box-service.last {
	margin-bottom:0px;
}
.box-service-functions {
	display: inline;
	float: right;
	margin-right: 10px;
	display: none;
}
.box-service-functions a {
	text-decoration: none;
	margin-left:5px;
}
.box-service:hover > .box-service-functions {
	display:inline;
}
.last-poll {
	font-size:12px;
	color:#666;
}
.box-status {
	background-color: red;
	color:#fff;
	font-weight:bold;
	margin:0;
	margin-right:10px;
	text-align: center;
	width:150px;
}
.box-status.status_up {
	background-color: green;
}
.row.box-device {
	padding:5px 0px;
	padding-bottom: 0;
	margin-bottom:20px;
	background-color: #efefef;
}
